.toggle-button[toggleposition='left'] {
  animation: Toggle-left 1s forwards;
}

.toggle-button[toggleposition='right'] {
  animation: Toggle-right 1s forwards;
}

@keyframes Toggle-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes Toggle-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
